<% provide(:title, "Edit #{@user.name}") %>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h2>Information of <%= @user.name %></h2>
		<%= form_for(@user) do |f|%>
			<%= render 'shared/error_messages_template', model: @user %>
			<% if current_user.is_site_admin? %>
				<%= render 'shared/employee_form_without_password', f: f %>
				<% if @user == current_user %>
					<%= render 'shared/employee_form_password', f: f %>
				<% end %>
			<% else %>
				<%= render 'shared/employee_form_password', f: f %>
			<% end %>
			<%= f.submit "Update", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>