<% provide(:title, "Edit #{@employee.name}") %>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h3>Account of <%= @employee.name %></h3>
			<%= form_for(@employee) do |f|%>
				<%= render 'shared/error_messages_template', model: @employee %>
				<% if current_user.isAdmin? %>
					<%= render 'shared/employee_form_without_password', f: f %>
					<% if @employee == current_user %>
						<%= render 'shared/employee_form_password', f: f %>
					<% end %>
				<% else %>
					<%= render 'shared/employee_form_password', f: f %>
				<% end %>
				<%= f.submit "Update", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>