<% provide(:title, "Employees") %>
<div class="container">
	<div class="row">
		<div class="hidden-xs hidden-sm">
		<%= render 'layouts/actions_side_nav' %>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8">
			<h3>Employee Index</h3>
			<%= will_paginate @employees %>
			<ul class="employees-list">
			<% @employees.each do |employee| %>
				<li><%= link_to employee.name, employee_path(employee) %> 
					<% if current_user.isAdmin? %>
					| <%= link_to "edit", edit_employee_path(employee) %> 
					| <%= link_to("delete", employee_path(employee), method: :delete) unless current_user?(employee) %> 
					<% end %>
				</li>
			<% end %>
			</ul>
			<%= will_paginate @employees %>
		</div>
	</div>
</div>