<% provide(:title, 'New Employee') %>
<div class="container">
	<div class="row">
		<%= render 'layouts/actions_side_nav' %>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
			<h2>New Employee</h2>
			<%= form_for(@employee) do |f|%>
				<%= render 'shared/error_messages_template', model: @employee %>
				<%= render 'shared/employee_form_without_password', f: f %>
				<%= f.submit "Sign 'em up!", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>