<% provide(:title, "Assign a member to #{@group.name}") %>

<% content_for :search_form do %>
	<%= form_tag search_member_group_path, method: :get, class: "navbar-form navbar-right" do %>
	<div class="form-group">
		<%= text_field_tag :search, nil, class: "form-control", placeholder: "Search", role: "search" %>
	</div>
	<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
	<% end %>
<% end %>

<%= render layout: 'search_layout', locals: { employees: @employees } do %>
	<%= render partial: 'membership_form', collection: @employees, as: :employee, locals: { group: @group }, layout: 'employee_item_list_layout' %>
<% end %>