<% provide(:title, "Choose an owner for #{@group.name}") %>

<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0">
	<h2 class="pull-left">Search:</h2>
	<%= form_tag search_employees_group_path, class: "navbar-form navbar-right" do %>
	<div class="form-group">
		<%= text_field_tag :search, nil, id: "search_employees", class: "form-control", placeholder: "Search", role: "search" %>
	</div>
	<%= submit_tag "Submit", class: "btn btn-default" %>
	<% end %>
</div>

<div class="col-xs-12 col-sm-12 col-md-8">
	<div class="clearfix">
		<%= will_paginate @employees, class: "pull-right" %>
	</div>
	<ul class="model-list">
		<% @employees.each do |employee| %>
		<li class="list-item"> 
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-4">
						<%= image_tag "http://placehold.it/100x100", alt: employee.name, class: "model-image" %>
					</div>
					<div class="col-xs-7 col-sm-7 col-md-8">
						<ul class="model-control">
							<li class="model-name"><%= link_to employee.name, employee_path(employee) %></li>
							<li class="model-info"><%= employee.position %></li>
							<% if employee.groups.pluck(:name).any? %>
							<li class="model-info hidden-xs"><strong>Membership:</strong> <%= employee.groups.pluck(:name).join(', ') %></li>
							<% end %>
							<li>
								<%= form_for(@group.build_group_ownership(employee_id: employee.id), html: {id: "new_group_ownership_#{employee.id}"}) do |f| %>
									<div><%= f.hidden_field :employee_id %></div>
									<div><%= f.hidden_field :group_id %></div>
									<%= f.submit "Choose as an owner", class: "btn btn-link" %>
								<% end %>
							</li>
						</ul>
					</div>
				</div>	
			</div>
		</li>
		<% end %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @employees, class: "pull-right" %>
	</div>
</div>