<% provide(:title, @group.name) %>

<div class="col-xs-12 col-sm-12 col-md-8">
	<h2><%= @group.name %></h2>
	<% if @group.owner %>
	<%= render 'owner', owner: @group.owner %>
	<% else %>
	<div class="owner-container clearfix">
		<h3 class="pull-left">No Owner</h3>
		<%= link_to "Choose an owner", search_owner_group_path(@group), class: "btn btn-primary pull-right" %>
	</div>
	<% end %>
	<div class="clearfix">
		<% unless @group.members.any? %>
		<h3 class="pull-left">There are no members in this group. Please add members.</h3>
		<% end %>
		<%= link_to "Choose members", search_member_group_path(@group), class: "btn btn-primary pull-right" %>
	</div>
	<% if @group.members.any? %>
	<div class="clearfix">
		<%= will_paginate @members, class: "pull-right" %>
	</div>
	<ul class="model-list">
	<% @members.each do |member| %>
	<%= render 'member', member: member %>
	<% end %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @members, class: "pull-right" %>
	</div>
	<% end %>
</div>

