<% provide(:title, @group.name) %>

<div class="col-xs-12 col-sm-12 col-md-8">
	<h2><%= @group.name %></h2>
	<% if @group.owner %>
	<%= render 'owner', owner: @group.owner %>
	<% else %>
	<div class="owner-container clearfix">
		<h3 class="pull-left">No Owner</h3>
		<%= link_to "Choose an owner", search_owner_group_path(@group), class: "btn btn-primary pull-right" %>
	</div>
	<% end %>

	<% unless @group.members.any? %>
		<h3>There are no members in this group. Please add members.</h3>
	<% end %>

	<% if current_user.isAdmin? %>
	<div class="search-member-wrapper clearfix">
		<%= link_to "Choose members", search_member_group_path(@group), class: "btn btn-primary pull-right" %>
	</div>
	<% end %>

	<% if @group.members.any? %>
	<div class="clearfix">
		<%= will_paginate @members, class: "pull-right" %>
	</div>
	<ul class="model-list">
	<%= render partial: 'member_control', collection: @members, as: :employee, layout: 'shared/employee_item_list_layout' %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @members, class: "pull-right" %>
	</div>
	<% end %>
</div>

