<div class="col-md-3 hidden-xs hidden-sm">
<% if current_user.isAdmin? %>
	<ul class="actions-side-nav">
		<li class="action-header">Employees</li>
		<li><%= link_to "Employee Index", employees_path %></li>
		<li><%= link_to "Create New Employee", new_employee_path %></li>
		<li class="action-header">Groups</li>
		<li><%= link_to "Group Index", groups_path %></li>
		<li><%= link_to "Create New Group", new_group_path %></li>
	</ul>
<% elsif current_user.is_group_owner? %>
	<ul class="actions-side-nav">
		<li class="action-header">Employees</li>
		<li><%= link_to "Subordinates", subordinates_employee_path(current_user) %></li>
		<li class="action-header">Groups</li>
		<li><%= link_to "Your Groups", "#" %></li>
	</ul>
<% end %>
</div>
