<header>
	<div class="container">
		<div class="row">
			<nav class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 header-nav clearfix">
				<%= link_to "PayMeNow", root_path, class: "header-brand"%>
				<ul class="nav nav-pills">
				<% if logged_in? %>
					<% if current_user.isAdmin? || current_user.is_group_owner? %>
						<%= render 'layouts/header_action_menus' %>
					<% end %>
					<%= render 'layouts/header_account_dropdown_menu' %>
				<% else %>
					<li class="<%= 'active' if current_page?(login_path) %>"><%= link_to "Log in", login_path %></li>
				<% end %>
					<li class="<%= 'active' if current_page?(help_path) %>"><%= link_to "Help", help_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>