<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="main-container">
		<% flash.each do |key, msg| -%>
      		<%= content_tag :div, msg, class: "alert alert-#{key}" %>
    	<% end %>

		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>

	<% if Rails.env.development? %>
	<div class="container">
		<%= debug({ original_request: request.method,
			overridden_request: request.request_method,
			params: params}) %>
	</div>
	<% end %>
</body>
</html>
